{% extends "base.html" %}

{% block content %}
<div id="links">

<a href="http://185.243.54.35:5000/blood">Bloodhoff</a>&nbsp;
<a href="http://185.243.54.35:5000/brylant">Brylant</a>&nbsp;
<a href="http://185.243.54.35:5000/ea">EA!</a>&nbsp;
<a href="http://185.243.54.35:5000/grubas">Grubus</a>&nbsp;
<a href="http://185.243.54.35:5000/coturobicie">Coturobicie</a>&nbsp;
<a href="http://185.243.54.35:5000/lolek">Lolek</a>

</div>
<!--<div id="add_cookies">-->
<!--   <form action="" method="post">-->
<!--      <label for="add_cookie">Dodaj cisateczko:</label><br>-->
<!--      <textarea id="add_cookie" name="cookie" rows="23" cols="50">ctrl+a ctrl+v-->
<!--      </textarea>-->
<!--      <input type="submit" value="zapodaj">-->
<!--   </form>-->
<!--</div>-->
<div id="hero">
   <h2>Obecny skan</h2>
   {% if name_hero %}
   Gracz: <b>{{ name_hero }}</b>
   <br><br>
   Link gracza: <b>{{ link_hero }}</b>
   <br><br>
   Link do zdjęcia bolka: <b>{{ link_image }}</b>
   <br><br>
<!--   Nacja: <b>{{nation}}</b>
   <br><br>
   Sojusz: <b>{{sojusz}}</b>
   <br><br> -->
   Pozycja w pop: <b>{{pop}}</b>
   <br><br>
   Pozycja w off: <b>{{off}}</b>
   <br><br>
   Pozycja w def: <b>{{deff}}</b>
   <br><br>
   Bolesław: <b> lvl: {{hero_lvl}}</b>
   <br><br>
   <br><br>
   Obecny skan: <b>{{now_scan_time}}</b>
<br><br>
<!--      <img src="http://localhost/image/2021-03-24/Oprawca_16:36:31.png">-->
   <img src="{{link_image_now}}">

<!--   <img src="">-->
   <br><br>
   <span id="status"><b>Status programu:</b></span> <strong style="color:#ff0000;">{{ statuss }}</strong><br>
   <span id="status"><b>Status skanu:</b></span> <strong style="color:#ff0000;">{{ status_last_scan }}</strong>
   {% endif %}
</div>
<!--<div style="clear:both"></div>-->
<!--<br>-->
<div id="last_scan">
   <h2>Poprzedni skan</h2>
Gracz: {{last_scan_name}}
<br><br>
<br><br>
Link do zdjęcia bolka: <b>{{ last_scan_il }}</b>
<br><br>
Pozycja w pop: <b>{{last_scan_pop}}</b>
<br><br>
Pozycja w off: <b>{{last_scan_off}}</b>
<br><br>
Pozycja w def: <b>{{last_scan_deff}}</b>
<br><br>
Bolesław: <b> lvl: {{last_scan_hero_lvl}}</b>
<br><br>
Ostatni skan: <b>{{last_scan_time}}</b>
<br><br>
<img src="{{link_last_image}}">
<img src="{{link_last_image2}}">
</div>
<br><br><br><br>

{{now_scan_time}}
{% endblock %}
