{% extends "base.html" %}

{% block content %}
<div id="links">

<a href="http://185.243.54.35:5000/blood">Bloodhoff</a>&nbsp;
<a href="http://185.243.54.35:5000/brylant">Brylant</a>&nbsp;
<a href="http://185.243.54.35:5000/ea">EA!</a>&nbsp;
<a href="http://185.243.54.35:5000/grubas">Grubus</a>&nbsp;
<a href="http://185.243.54.35:5000/coturobicie">Coturobicie</a>&nbsp;
<a href="http://185.243.54.35:5000/lolek">Lolek</a>

</div>
<H2>Skanuj swoje ofiary z pasją!</H2>
<div id="add_cookies">
   <form action="" method="post">
      <label for="add_cookie">Dodaj cisateczko:</label><br>
      <textarea id="add_cookie" name="cookie" rows="23" cols="50">ctrl+a ctrl+v
      </textarea>
      <input type="submit" value="zapodaj">
   </form>
</div>
{% endblock %}
